# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.local
.env.production
secret.txt

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Local Netlify folder
.netlify

# Local IDE and temporary files
.vscode/
archive/
docs/

# Supabase local migrations
supabase/migrations/
